@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-tablet: 834px;
  --breakpoint-desktop: 1512px;
  --color-privacy-primary: #016e33;
  --font-outfit: "Outfit", sans-serif;
}
